<%if(!errors.length==0){%>
  <%errors.forEach(error=>{%>
  <h1>  <%=error%> </h1>
  <%})%>
    
<%} %>
<!-- <%if(!success_msg.length==0){%>
<div class="alert alert-success animated fadeIn alert-dismissible fade show" role="alert">
  <%=success_msg%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%}%> -->
